{% extends 'base.html'%}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-1 rounded-3">
                <div class="card-body p-4">
                    <h2 class="mb-4 text-center">Nuevo Producto</h2>

                    <form novalidate action="{% url 'nuevo_producto' %}" method="post">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                            {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}