{% extends 'base.html' %}

{% block content %}

<h1>Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Puntaje</th>
            <th>Categoría</th>
            <th>Fecha de Creación</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.puntaje }}</td>
            <td>{{ producto.categoria.nombre }}</td>
            <td>{{ producto.fecha_creacion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}